* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* Common-Styles */

.btn {
  color: #ffffff;
  background-color: #30b868;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
}

.btn:hover {
  color: gainsboro;
  background-color: #185e35;
  transition: 0.3s;
  transform: scale(1.05);
}

/* Start Navbar Style */

.navbar {
  max-width: 1360px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.nav-links {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.nav-links li:hover {
  transform: scale(1.05);
  transition: 0.2s;
  text-decoration: underline;
}

/* Start Hero Section Style */

.hero-section {
  margin-top: 20px;
  padding: 100px;
  padding-bottom: 179px;
  background-image: url("../assets/hero-bg.png");
}

.hero-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border: none;
  border-radius: 1000px;
  color: #30b868;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.hero-heading {
  color: #ffffff;
  font-size: 72px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.hero-color-heading {
  color: #30b868;
}

.hero-paragraph {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}

.second-btn {
  background: none;
  border: 1px solid #ffffff;
}

.hero-second-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}

.second-btn:hover {
  background: none;
}

/* Start Card section Style */

.card-section {
  background-image: linear-gradient(to bottom, #ffffff, #f7f7fb);
  margin-bottom: 100px;
}

.card-headings {
  text-align: center;
  margin: 60px;
}

.card-heading {
  color: #001931;
  font-size: 54px;
  font-weight: 700;
}

.card-paragraph {
  color: #627382;
  font-size: 16px;
  line-height: 40px;
}

.all-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 30px;
  padding-top: 60px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
  border-radius: 8px 8px 0px 0px;
  background-color: #ffffff;
  height: 300px;
}

.card-img-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f95555;
}

.card-all-heading {
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.card-all-paragraph {
  color: #627382;
  font-size: 16px;
  text-align: center;
}

/* start the solution section */

.solution-section {
  display: flex;
  gap: 60px;
  align-items: center;
  max-width: 1360px;
  margin: auto;
}

.section-message {
  color: #30b868;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.solution-title {
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

.solution-description {
  color: #627382;
  line-height: 20px;
}
.solution-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}

.solution-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  color: rgba(0, 25, 49, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.solution-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* start challenge-section style */

.challenge-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  max-width: 1360px;
  margin: auto;
  background-color: rgba(247, 246, 242, 1);
  padding: 80px 40px;
  border-radius: 12px;
  margin-top: 100px;
}

.challenge-heading {
  color: rgba(0, 25, 49, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.challenge-description {
  color: #627382;
  line-height: 24px;
  text-align: center;
}

.challenge-credit {
  color: #627382;
  line-height: 20px;
  text-align: center;
}

/* start footer part style */

.footer-part {
  background-color: rgba(0, 25, 49, 1);
  padding: 120px 100px 30px 100px;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icon-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-top: -10px;
}

.social-icon-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 12px;
}

.social-icon-bg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon-bg:hover {
  transform: scale(1.15);
  transition: 0.2s;
}

.border-bottom {
  margin-top: 50px;
  border-bottom: 1px solid rgba(229, 231, 235, 1);
  opacity: 0.2;
}

.copy-right-container {
  text-align: center;
  margin-top: 25px;
}

.copy-right {
  color: rgba(250, 250, 250, 1);
  line-height: 24px;
}
