* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* Common-Styles */

.btn {
  color: #ffffff;
  background-color: #30b868;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
}

.btn:hover {
  color: gainsboro;
  background-color: #185e35;
  transition: 0.3s;
  transform: scale(1.05);
}

/* Start Navbar Style */

.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.nav-links {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.nav-links li:hover {
  transform: scale(1.05);
  transition: 0.2s;
  text-decoration: underline;
}

/* Start Hero Section Style */

.hero-section {
  margin-top: 20px;
  padding: 100px;
  padding-bottom: 179px;
  background-image: url("../assets/hero-bg.png");
}

.hero-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border: none;
  border-radius: 1000px;
  color: #30b868;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.hero-heading {
  color: #ffffff;
  font-size: 72px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.hero-color-heading {
  color: #30b868;
}

.hero-paragraph {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}

.second-btn {
  background: none;
  border: 1px solid #ffffff;
}

.hero-second-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}

.second-btn:hover {
  background: none;
}
