* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* Common-Styles */

.btn {
  color: #ffffff;
  background-color: #30b868;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
}

.btn:hover {
  color: gainsboro;
  background-color: #185e35;
  transition: 0.3s;
  transform: scale(1.05);
}

.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.nav-links {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.nav-links li:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
